.app.dark {
    --bg-color: #000000;
    --inverted-bg-color: #ffffff;

    --primary-color: #1976D2;
    --secondary-color: #424242;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
